.container {
  max-width: 600px;
  display: block;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(37, 39, 89, 0.09);
  margin: 100px auto 20px auto;
  background-color: rgb(233, 232, 235);
  font-family: "Roboto", sans-serif;
}

h1 {
  color: rgb(70, 62, 62);
  font-size: 40px;
  text-align: left;
  margin-bottom: 15px;
}
.clocklogo {
  display: inline;
  position: relative;
  opacity: 0.6;
  top: -40px;
  right: -85px;
}

.searchbar {
  border-radius: 6px;
  border: #f7f2f7;
  height: 40px;
  font-size: 20px;
  width: 100%;
  font-family: monospace;
}
.citycontainer {
  margin-top: 20px;
  background-color: #f7f2f7;
}
.city {
  display: flex;
  justify-content: space-between;
  background-color: #f7f2f7;
  color: rgb(29, 27, 27);
  padding: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
.city:last-child {
  border: none;
}
h2 {
  margin: 0px;
  font-size: 30px;
}
.time {
  font-size: 32px;
  font-weight: bolder;
}
.date {
  font-family: monospace;
  font-size: 15px;
}
footer {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}
.goback {
  font-family: monospace;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 2px;
}
